.header
{
position:absolute;
top:0px;
margin:0px;
padding:6px 6px 6px 6px;
width:98%;
font-family:'arial','serif','verdana';
font-size:0.9em;
background-color:#828282;
color:white;
}
.wrapper
{
margin-top:100px;
}
.content
{
min-height: calc(100vh - 130px);
}
.footer
{
padding:0 0 6px 0;
margin:0px;
width:100%;
font-family:'arial','serif','verdana';
font-size:0.9em;
background-color:#828282;
color:white;
}
#tbl1
{
margin:0px;
padding:0px;
width:98%;
}
input[type="radio"]
{
margin-left:20px;
margin-top:5px;
margin-bottom:5px;
}
input[type="checkbox"]
{
margin-left:20px;
margin-top:5px;
margin-bottom:5px;
}
input[type="button"]
{
padding-left:15px;
padding-right:15px;
font-family:'sans-serif';
}
#sctn3
{
padding-top:10px;
}
