div
{
margin-left:auto;
margin-right:auto;
width:80%;
font-family:'sans-serif';
}
table
{
border-collapse:collapse;
width:100%;
}
table th
{
text-align:left;
border-bottom:2px solid;
padding-top:10px;
padding-bottom:10px;
}
table td
{
vertical-align:top;
}
.ans
{
padding-bottom:10px;
}
#epg
{
text-align:right;
font-size:0.9em;
}
#hdr
{
text-align:center;
}
#opttbl td
{
text-align:left;
padding:10px;
}
.otc1
{
width=20%;
}
.otc2
{
width=15%;
}
.otc3
{
}
#org
{
padding-top:10px;
padding-bottom:10px;
}
#ftrtbl td
{
text-align:left;
padding-top:10px;
}
#undrln
{
border-bottom:2px solid;
}
