<!DOCTYPE HTML>
<html>
<head>
    <title>Тестирование</title>
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/detail.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css" />
</head>
<body>
    {% if test_id %}
    <input type="hidden" id="initvalue" value="{{ test_id }}">
    <script type="text/javascript">
        var Data = new Object();
        Data.Initvalue = {{ test_id }};
        Data.cur_q = 0;
        Data.Qstns = new Array();
        Data.CurQChoices = new Array();
        Data.CurQAnswers = new Array();
    </script>
    <div class="wrapper">
    <div class="header">
        <table id="tbl1">
            <tbody>
            <tr>
            <td width="25%" align="left" valign="middle">
            Вы вошли как <b> {{ user }} </b>
            </td>
            <td width="25%" align="center" valign="middle"><p id="elpq" align="right">&nbsp;</p></td>
            <td width="25%" align="center" valign="middle"><p id="elptm" align="right">&nbsp;</p></td>
            <td width="25%" align="center" valign="middle"><p id="curtm" align="right">&nbsp;</p></td>
            </tr>
            </tdbody>
        </table>
    </div>
    <div class="content">
    <section id="sctn1">
        <h3 id="q_txt">Question&nbsp;text</h3>
        <hr />
    </section>
    <section id="sctn2">
    </section>
    <section id="sctn3">
        <hr />
        <p id="q_typ">Question&nbsp;type</p>
        <input type="button" id="b_prv" value="Предыдущий">
        <input type="button" id="b_ans" value="Ответить">
        <input type="button" id="b_nxt" value="Следующий">
    </section>
    </div>
    <div class="footer">2015 &copy; Седенков Н.Б., nsedenkov@yandex.ru</div>

    </div>
    {% else %}
    <p>NO TEST DEFINED</p>
    {% endif %}
</body>
</html>