<!DOCTYPE HTML>
<html>
<head>
    <title>Выбор вида тестирования</title>
    <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
</head>
<body>
<div class="header">
<table id="htbl">
<tr>
<td width="25%">Вы вошли как: <b>{{ user }}</b></td>
<td width="50%"></td>
<td width="25%" align="right"><a href="/"><img id="home" onmouseover="document.getElementById('home').src='/static/images/homeact.png'" onmouseout="document.getElementById('home').src='/static/images/homepassive.png'" src="/static/images/homepassive.png" alt="home" height="28" width="33" /></a></td>
</tr>
</table>
</div>
<div class="wrapper">
<div class="content">
<div class="bound">
{% if all_tests_list %}
    <h2>Выберите вид тестирования</h2>
    <form action="start/" type="get">
    <select id="q_sel" name="t_id" onchange="select_change()">
    {% for tst in all_tests_list %}
        <option value="{{ tst.id }}">{{ tst.name }}</option>
    {% endfor %}
    </select>
    <p id="ec">&nbsp;</p>
    <table id="tbl1">
        <tr>
        <th>Продолжительность тестирования</th>
        <th>Количество вопросов</th>
        </tr>
        <tr>
        <td id="tm">&nbsp;</td>
        <td id="qc">&nbsp;</td>
        </tr>
    </table>
    <input id="btn1" type="submit" value="Начать" />
    </form>
{% else %}
    <p>No tests are available.</p>
{% endif %}
</div>
</div>
<div class="footer">2015 &copy; Седенков Н.Б., nsedenkov@yandex.ru</div>
</div>
</body>
</html>